body{
  display: grid;
  max-width: 1000px;
  background-color: papayawhip;
}

nav {
  width:1000px;
  background: maroon;
  color: papayawhip;
  font-family: 'Abril Fatface', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav h1 {
  margin: 0;
  font-family: 'Abril Fatface', cursive;
  justify-content: space-between;
  display: inline-block;
  vertical-align: middle;
  padding:5px;
}

nav a {
  color: white;
  display: inline-block;
  padding: 5px;
  margin-left:5px;
  font-size: 1.2em;
  text-decoration: none;
}

nav a:hover {
  background: #282c34;
}

h2 {
  font-family: 'Source Serif Pro', serif;
}

p {
  font-family: 'Source Serif Pro', serif;
}


.Header{
  display: grid;
  font-family: 'Source Serif Pro', serif;
}

.Headline {
  font-family: 'Abril Fatface', cursive;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin-left: 50px;
  text-shadow:0 0.5rem 0.5rem #555;
}
hr {
  border: 1px solid maroon;
  margin-left:100px;
  margin-top: -20px;
  background-color:papayawhip;
  color:maroon;
  opacity: 100%;
}

.Subhead {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  margin: 0 auto;
  margin-left:215px
}

#A{
  font-style:italic
}

#B{
  font-style: italic;
  margin-top:-20px;
}

.Lefthand {
  justify-content: left;
  align-items: left;
  text-align: left;
  font-size: 17px;
  margin-left: 100px;
  margin-top: 70px;
}

#C{
  font-style: italic;
  margin-top: 10px
  
}

#D {
  font-style: italic;
  margin-top:-20px;
  
}


.Righthand{
  justify-content: right;
  align-items: right;
  text-align: right;
  font-size: 17px;
  margin-right: 25px;
  margin-top: -110px;
}

#E {
  font-style: italic;
  margin-top: 40px;
}

#F{
  font-style: italic;
  margin-top:-20px;
}

.WhiteButton {
  color:black;
  background-color: rgb(245, 245, 152);
  height:50px;
  width: 200px;
  border-style: groove;
  border-radius:20px;
  border-color:rgba(249, 249, 78, 0.758);
  font-family: 'Times New Roman', Times, serif;
  font-size:25px;
  font-weight:300px;
  float:right;
  margin-right:250px;
  margin-top: 0px;
}

.RedButton {
  display:flex;
  color:white;
  background-color: maroon;
  text-align:center;
  align-items: center;
  justify-content: center;
  height:50px;
  width: 200px;
  border-style: groove;
  border-radius:20px;
  border-color:rgb(36, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  font-size:25px;
  font-weight:350px;
  margin-left: 300px;
  margin-top: 0px;

}

.recipeBox {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap-reverse;
  width: 600px;
  padding:0 0 15px 0;
  margin-left: 450px;
  border-bottom:2px solid rgba(173, 173, 173, 0.979);

}

.recipeCard {
  display:flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  width: 250px;
  margin: 10px;
  margin-left:36px;
  background-color:black;
  border: 2px solid black;
  box-shadow: 2rem 3rem 5rem #aaa;
} 

.pic {
  display:flex;
  align-items: center;
  justify-items: center;
  height: 210px;
  width: 251px;
  padding: 0px;
  object-fit: cover;
}

.name {
  display:flex;
  font-family:'Times New Roman', Times, serif;
  font-size:larger;
  font-weight:300;
  float: center;
  background-color: black;
  color:white;
  margin: 8px;
  width:150px;
}

.B-url {
  display:flex;
  background-color:papayawhip;
  width:80px;
  text-align: center;
  align-items: center;
  margin-left:5px;
}

.i-button{
  display:flex;
  background-color:maroon;
  color:white;
  font-family:'Source Serif Pro', serif;
  font-weight: 200px;;
  align-items: right;
  justify-content: flex-start;
}

.menu {
  Background-color:black;
  color: white;
  height:20px;
  width: 900px;

}

.aboutlead {
  font-family: 'Abril Fatface', cursive; ;
  font-size:40px;
  padding:20px;
  text-align: center;
}

#x {
  font-family: 'Source Serif Pro', serif;
  font-size: 25px;
  font-weight:300;
  margin:100px;
  margin-top:20px;
  line-height: normal;
  


}